@font-face {
    font-family: 'Charter';
    src: url('/src/assets/fonts/charter/charter_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {  
    background: white;
}




.main-ctn{
  margin: 30px 40px 0 70px;  
  padding: 0;     
  box-sizing: border-box;
}



.header-ctn {
    display: flex;
    flex-direction: column;
    margin: 30px 70px 50px 70px;  
} .header-ctn h1 {
    font: 600 120px;
    margin-bottom: 10px;
} .header-ctn h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0 0 20px;
    color:#575757;  
    text-decoration: italic;
}


.lower-ctn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 20px;  
}


.analytics-and-reg-ctn {
    max-width: 70%;
    margin: 0px;
}

.card-header {
    font-size: 20px;
    margin: 0 0 15px 0;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 




.dashboard-btns {
    display: flex;
    gap: 10px;
    margin-top: 10px;
} 

.sub-buttons {
    border-radius: 7px;
    border: 2px solid transparent;
    height: auto;
    width: 230px;   

    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    background: #29292c;
    overflow: hidden;
    font-size: 16px;
    --gradient: linear-gradient(to top, #00c3d1, #2eadff);
    --color: #32a6ff

    transition: border 1s ease;
}.sub-buttons:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 7px;
    background: #18181b;
    z-index: 2
}.sub-buttons:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 7px;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
}.sub-buttons:hover:after {
    transform: translateX(0.15rem)
}

.inner-btn {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 5px;
} 

.more-icon {
    background: #20202000;
    border: none;
    cursor: pointer;
    height:20px;
    width:20px;
} 

.inner-btn {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;    
}

.sub-buttons:hover .inner-btn {
  transform: translateX(0.15rem)
}

.total, .number {
    font-family: 'Montserrat';
    font-size: 14px;
    margin: 0;
} .total {
    margin-top: 15px;
    color: white;
    font-weight: 400;
} .number {
    color: #00c3d1;
    font-weight: 1000;
    font-size: 30px;
}

.left-part-btn {
    padding: 10px 5px 10px 5px;
}

.right-part-btn {
    padding: 5px 5px 0 0;
    cursor:pointer;
}

/* .btn-icon {
  background-color: white;
  padding: 7px;        
  width: 15px;          
  height: 15px;
  border-radius: 50%;   
  display: flex;        
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
} */

.notiglow,
.notiborderglow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: linear-gradient(0.25turn, #a3a3a3, #20202000 );
    opacity: 0;
    opacity: 0;
    transition: opacity 300ms ease, transform 600ms ease;
    pointer-events: none; 
}

.notiglow {
    z-index: 2;
    filter: blur(40px);
}

.notiborderglow {
    z-index: 0;
    filter: blur(80px);
}

.sub-buttons:hover .notiglow,
.sub-buttons:hover .notiborderglow {
    opacity: 0.15;
    transform: translate(-50%, -50%) scale(1.2);
}

.sub-buttons:hover {
    border: 2px solid #00c3d1;
    transition: all 0.3s ease;
}

.sub-buttons,
.sub-buttons .notiglow,
.sub-buttons .notiborderglow {
    transition: all 0.3s ease;
}





.recents-ctn {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    width:300px;
    padding: 20px;
}

table {
    /* border: 1px solid gray; */
    width: 100%;
    margin-top: 10px;
}