@font-face {
    font-family: 'Charter';
    src: url('/src/static/fonts/charter/charter_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/static/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.page {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
}

.page.show {
    opacity: 1;
    transform: translateY(0);
}


body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

.entire-page {
    height: 100%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: 50px;
    background-color:#c4c4c4 ;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.1);
}

.form-box {
    max-width: 100%;
    background: #f1f7fe; 
     overflow: hidden; 
    border-radius: 16px;
    color: #010101;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white; 
  height: 60px; 
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu {
  margin-left: auto; 
  position: relative;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}










/* From Uiverse.io by gharsh11032000  */
.menu {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    width: fit-content;
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.menu .item {
    position: relative;
}

.menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 0px 0px; /*  border sa drop down */
    left: 0;
    width: 220px;
    overflow: hidden;
    border: 1px solid #cccccc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 9;
    pointer-events: none;
    list-style: none;
}

.menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color: #00dbeb;
    background-color: #ffffff;
}

.submenu .submenu-item {
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
    display: block;
    padding: 5px 15px 5px 15px;
    width: 100%;
    position: relative;
    text-align: left;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    font-size:small;
}


/*animation for item hover*/
.submenu .submenu-link::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: #00dbeb;
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}

.submenu .submenu-link:hover {
    color: #ffffff;
}