@font-face {
    font-family: 'Charter';
    src: url('/src/assets/fonts/charter/charter_bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Navbar base */
/* #2c3e50 */
.navbar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-bottom-width: 1px;
    padding: 0;
    background: linear-gradient(to right, #18181b, #18181b, #1e2b38);
}

.nav-bar-greeting {
    display: flex;
    align-items: flex-start;
}

.nav-left {
    display: flex;
    align-items: center;
    border: 0 solid #bbb;
    width: auto;    
}


.nav-logo {
    padding: 10px 5px 10px 15px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.nav-btn {
    font-family: 'Montserrat';
    background: none;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 13px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}.nav-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    color: rgb(55, 55, 55);
    min-width: 160px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0;
    margin-top: 4px;
    list-style: none;
    z-index: 1000;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none; /* avoid clicks when hidden */
    transition: all 0.2s ease;
}.dropdown-menu li {
    font-size: 12px;
    padding: 7px;
    cursor: pointer;
}.dropdown-menu li:hover {
    background: #eee;
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}


.nav-dropdown-icon {
    height: 7px;
    padding-left: 5px;
    color: white;
}

.nav-dropdown-btn {
    align-items: left;
    border: 0px solid #ffffff00;
    width: 90%;
    height: 100%;
    background: #ffffff;
    margin: 0;
}







/* Right-side profile */
.nav-right {
    display: flex;
    align-items: center;       
    justify-content: space-between; 
    margin-right: 20px;  
    width: 220px;              
    margin-left: auto;  
    gap: 15px;
    border: 1px solid #cecece;
    padding: 5px;
    
    background: linear-gradient(to right, #18181b, #18181b);
    
} .nav-right:hover {
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.user-info {
    justify-content: right;
    margin: 0 0 0 10px;
}.user-info label {
    margin: 0;
    font-size: 15px;
    font-weight: 600; 
    color:#00D8FF;
}.user-info p {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
    color: white;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.3s ease;
} .profile-pic:hover {
    transform: scale(1.1);       /* smooth zoom */
    box-shadow: 0 0 2px rgb(97, 97, 97);
}
